/* Showcase */
#showcase {
  min-height: 400px;
  text-align: center;
  color: #e8491d;
}
#showcase h1 {
  margin-top: 90px;
  font-size: 70px;
  margin-bottom: 10px;
}

#showcase h2 {
  font-size: 40px;
  text-decoration: underline;
}

#showcase p {
  font-size: 30px;
  color: #35424a;
}

