


/* Showcase */
#showcase {
  min-height: 400px;
  text-align: center;
}
#showcase h1 {
  color: #35424a;
  margin-top: 100px;
  font-size: 70px;
  margin-bottom: 10px;
}

/* Display */

q1 {
  display: block;
  color: #35424a;
}

q2 {
  display: none;
  color: #35424a;
}

q3 {
  margin-top: 100px;
  display: none;
  color: #35424a;
}

#showcase li:hover {
  color: #cccccc;
  font-weight: bold;
}

#showcase {
  border-width: 30px;
  border-style: solid;
  border-color: #e8491d;
}

